---
import { Image } from "astro:assets";

interface Props {
    icon: ImageMetadata;
    win95Icon: ImageMetadata;
    active?: boolean;
    text: string;
}

const { text, active, icon, win95Icon } = Astro.props;

let activeClass = "border-transparent";

if (active) {
    activeClass = "bg-purple-600/10 border-purple-600";
}
---

<div
    class:list={[
        "w-full flex items-center justify-start gap-4 py-3 px-5 rounded-xl border win95-card win95:text-black",
        activeClass,
    ]}
>
    <Image src={icon} alt={text} width={18} class="win95:hidden" />
    <Image src={win95Icon} alt={text} width={18} class="hidden win95:block" />
    <p>{text}</p>
</div>
